In [2]:
import pandas as pd

### Vamos primeiro procurar informação dos canais em DataRio Central de Atendimento

In [3]:
saneamento_drenagem = pd.read_csv("data/others/rj-rioaguas.saneamento_drenagem.qualidade_agua .csv")
saneamento_drenagem.head()

,id_estacao,data_medicao,coleta,ponto,data_inicio,data_fim,ph,temperatura_do_ar,temperatura_da_agua,salinidade,...,coliformes_totais,escherichia_coli,nitrogenio_amoniacal,fosforo_total_mg_l,fosforo_total_mg_kg,fosfato_total,nitrato,silica,sulfeto,materia_organica
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(saneamento_drenagem.columns)

Index(['id_estacao', 'data_medicao', 'coleta', 'ponto', 'data_inicio',
       'data_fim', 'ph', 'temperatura_do_ar', 'temperatura_da_agua',
       'salinidade', 'oxigenio_dissolvido', 'turbidez', 'disco_de_secchi',
       'profundidade_total', 'profundidade_de_coleta', 'coliformes_totais',
       'escherichia_coli', 'nitrogenio_amoniacal', 'fosforo_total_mg_l',
       'fosforo_total_mg_kg', 'fosfato_total', 'nitrato', 'silica', 'sulfeto',
       'materia_organica'],
      dtype='object')

In [5]:
saneamento_drenagem["id_estacao"].unique()

array([nan,  1.])

In [6]:
saneamento_drenagem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6733 entries, 0 to 6732
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id_estacao              6608 non-null   float64
 1   data_medicao            6426 non-null   object
 2   coleta                  6608 non-null   object
 3   ponto                   6608 non-null   object
 4   data_inicio             6608 non-null   object
 5   data_fim                6426 non-null   object
 6   ph                      5408 non-null   float64
 7   temperatura_do_ar       1627 non-null   float64
 8   temperatura_da_agua     6590 non-null   object
 9   salinidade              5408 non-null   object
 10  oxigenio_dissolvido     6596 non-null   object
 11  turbidez                5396 non-null   object
 12  disco_de_secchi         1621 non-null   float64
 13  profundidade_total      1621 non-null   float64
 14  profundidade_de_coleta  5396 non-null   float64
 15  coliformes_totais       1621 non-null   object
 16  escherichia_coli        1621 non-null   object
 17  nitrogenio_amoniacal    5376 non-null   object
 18  fosforo_total_mg_l      5276 non-null   object
 19  fosforo_total_mg_kg     24 non-null     float64
 20  fosfato_total           5276 non-null   object
 21  nitrato                 5336 non-null   object
 22  silica                  5396 non-null   object
 23  sulfeto                 5394 non-null   object
 24  materia_organica        24 non-null     float64
dtypes: float64(8), object(17)
memory usage: 1.3+ MB

In [7]:
saneamento_rio_aguas_not_null = saneamento_drenagem.dropna(how='all')
saneamento_rio_aguas_not_null.head(10)

,id_estacao,data_medicao,coleta,ponto,data_inicio,data_fim,ph,temperatura_do_ar,temperatura_da_agua,salinidade,...,coliformes_totais,escherichia_coli,nitrogenio_amoniacal,fosforo_total_mg_l,fosforo_total_mg_kg,fosfato_total,nitrato,silica,sulfeto,materia_organica
10,1.0,2022-12-20 11:21:00,Sedimento,LRF1 - Fundo,2022-12-20 11:16:00,2022-12-20 11:21:00,7.10,NaN,NaN,13.4,...,NaN,NaN,NaN,NaN,1.044,NaN,NaN,NaN,NaN,19.9665
13,1.0,2024-06-07 14:53:00,Sedimento,LRF6 - Fundo,2024-06-07 14:38:00,2024-06-07 14:53:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.050,NaN,NaN,NaN,NaN,4.7000
21,1.0,2022-12-20 10:45:00,Sedimento,LRF3 - Fundo,2022-12-20 10:44:00,2022-12-20 10:45:00,7.09,NaN,NaN,13.5,...,NaN,NaN,NaN,NaN,6.130,NaN,NaN,NaN,NaN,18.6162
32,1.0,2022-12-20 11:48:00,Sedimento,LRF4 - Fundo,2022-12-20 11:43:00,2022-12-20 11:48:00,6.97,NaN,NaN,13.6,...,NaN,NaN,NaN,NaN,0.724,NaN,NaN,NaN,NaN,22.1691
53,1.0,2022-12-20 11:32:00,Sedimento,LRF2 - Fundo,2022-12-20 11:27:00,2022-12-20 11:32:00,7.00,NaN,NaN,13.6,...,NaN,NaN,NaN,NaN,2.776,NaN,NaN,NaN,NaN,16.8702
71,1.0,2023-06-07 13:47:00,Sedimento,LRF1 - Fundo,2023-06-07 13:32:00,2023-06-07 13:47:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.910,NaN,NaN,NaN,NaN,7.8000
72,1.0,2023-06-07 15:23:00,Sedimento,LRF4 - Fundo,2023-06-07 15:08:00,2023-06-07 15:23:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.890,NaN,NaN,NaN,NaN,6.3000
75,1.0,2022-12-20 12:22:00,Sedimento,LRF5 - Fundo,2022-12-20 12:17:00,2022-12-20 12:22:00,7.96,NaN,NaN,13.2,...,NaN,NaN,NaN,NaN,0.787,NaN,NaN,NaN,NaN,20.8165
76,1.0,2023-06-07 13:06:00,Sedimento,LRF2 - Fundo,2023-06-07 12:51:00,2023-06-07 13:06:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.830,NaN,NaN,NaN,NaN,7.4000
77,1.0,2024-06-07 13:47:00,Sedimento,LRF1 - Fundo,2024-06-07 13:32:00,2024-06-07 13:47:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.910,NaN,NaN,NaN,NaN,7.8000

In [8]:
print(saneamento_rio_aguas_not_null.columns)

Index(['id_estacao', 'data_medicao', 'coleta', 'ponto', 'data_inicio',
       'data_fim', 'ph', 'temperatura_do_ar', 'temperatura_da_agua',
       'salinidade', 'oxigenio_dissolvido', 'turbidez', 'disco_de_secchi',
       'profundidade_total', 'profundidade_de_coleta', 'coliformes_totais',
       'escherichia_coli', 'nitrogenio_amoniacal', 'fosforo_total_mg_l',
       'fosforo_total_mg_kg', 'fosfato_total', 'nitrato', 'silica', 'sulfeto',
       'materia_organica'],
      dtype='object')

In [9]:
saneamento_rio_aguas_not_null["coleta"].unique()

array(['Sedimento', 'Extra', 'Regular'], dtype=object)

In [10]:
saneamento_rio_aguas_extra = saneamento_rio_aguas_not_null[saneamento_rio_aguas_not_null['coleta'] == 'Extra']
saneamento_rio_aguas_extra.head()

,id_estacao,data_medicao,coleta,ponto,data_inicio,data_fim,ph,temperatura_do_ar,temperatura_da_agua,salinidade,...,coliformes_totais,escherichia_coli,nitrogenio_amoniacal,fosforo_total_mg_l,fosforo_total_mg_kg,fosfato_total,nitrato,silica,sulfeto,materia_organica
143,1.0,NaN,Extra,LRF3 - Superfície,2023-12-08 10:43:00,NaN,NaN,NaN,7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,1.0,2024-07-08 09:44:00,Extra,LRF6 - Fundo,2024-07-08 09:41:00,2024-07-08 09:44:00,NaN,NaN,20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,1.0,2023-07-08 09:44:00,Extra,LRF6 - Fundo,2023-07-08 09:41:00,2023-07-08 09:44:00,NaN,NaN,20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,1.0,2023-07-23 10:11:00,Extra,LRF3 - Fundo,2023-07-23 10:08:00,2023-07-23 10:11:00,NaN,NaN,21,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,1.0,2023-07-23 09:25:00,Extra,LRF6 - Superfície,2023-07-23 09:22:00,2023-07-23 09:25:00,NaN,NaN,21,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
print(saneamento_rio_aguas_extra.columns)

Index(['id_estacao', 'data_medicao', 'coleta', 'ponto', 'data_inicio',
       'data_fim', 'ph', 'temperatura_do_ar', 'temperatura_da_agua',
       'salinidade', 'oxigenio_dissolvido', 'turbidez', 'disco_de_secchi',
       'profundidade_total', 'profundidade_de_coleta', 'coliformes_totais',
       'escherichia_coli', 'nitrogenio_amoniacal', 'fosforo_total_mg_l',
       'fosforo_total_mg_kg', 'fosfato_total', 'nitrato', 'silica', 'sulfeto',
       'materia_organica'],
      dtype='object')

In [12]:
# Lista das colunas a serem removidas
colunas_a_remover = ["ph", "temperatura_do_ar", "salinidade", "turbidez", 
                     "disco_de_secchi", "profundidade_total", "profundidade_de_coleta", 
                     "coliformes_totais", "escherichia_coli", "nitrogenio_amoniacal", 
                     "fosforo_total_mg_l", "fosforo_total_mg_kg", "sulfeto", "materia_organica",
                     "fosfato_total", "nitrato", "silica", "sulfeto"]

# Removendo as colunas
saneamento_rio_aguas_extra = saneamento_rio_aguas_extra.drop(colunas_a_remover, axis=1)

In [13]:
sanemanto_extra_limpo= saneamento_rio_aguas_extra.dropna(how="any")
sanemanto_extra_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1104 entries, 144 to 6711
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_estacao           1104 non-null   float64
 1   data_medicao         1104 non-null   object
 2   coleta               1104 non-null   object
 3   ponto                1104 non-null   object
 4   data_inicio          1104 non-null   object
 5   data_fim             1104 non-null   object
 6   temperatura_da_agua  1104 non-null   object
 7   oxigenio_dissolvido  1104 non-null   object
dtypes: float64(1), object(7)
memory usage: 77.6+ KB

In [14]:
saneamento_rio_aguas_regular = saneamento_rio_aguas_not_null[saneamento_rio_aguas_not_null['coleta'] == 'Regular']
saneamento_rio_aguas_regular.head()

,id_estacao,data_medicao,coleta,ponto,data_inicio,data_fim,ph,temperatura_do_ar,temperatura_da_agua,salinidade,...,coliformes_totais,escherichia_coli,nitrogenio_amoniacal,fosforo_total_mg_l,fosforo_total_mg_kg,fosfato_total,nitrato,silica,sulfeto,materia_organica
166,1.0,2022-06-15 10:20:00,Regular,LRF3 - Meio Afótico,2022-06-15 10:15:00,2022-06-15 10:20:00,7.65,NaN,21,12.52,...,NaN,NaN,0.36,0.075,NaN,0.044,0.083,2.1,<0.1,NaN
167,1.0,2023-07-10 12:48:00,Regular,LRF2 - Meio Afótico,2023-07-10 12:45:00,2023-07-10 12:48:00,7.41,NaN,21,10.7,...,NaN,NaN,0.38,<0.016,NaN,<0.016,0.44,4.7,<0.1,NaN
168,1.0,2023-07-10 12:51:00,Regular,LRF2 - Fundo,2023-07-10 12:48:00,2023-07-10 12:51:00,7.36,NaN,21,10.7,...,NaN,NaN,0.55,<0.016,NaN,<0.016,0.39,5,<0.1,NaN
169,1.0,2024-07-10 12:48:00,Regular,LRF2 - Meio Afótico,2024-07-10 12:45:00,2024-07-10 12:48:00,7.41,NaN,21,10.7,...,NaN,NaN,0.38,<0.016,NaN,<0.016,0.44,4.7,<0.1,NaN
170,1.0,2024-07-10 12:51:00,Regular,LRF2 - Fundo,2024-07-10 12:48:00,2024-07-10 12:51:00,7.36,NaN,21,10.7,...,NaN,NaN,0.55,<0.016,NaN,<0.016,0.39,5,<0.1,NaN

In [15]:
saneamento_rio_aguas_regular.head()

,id_estacao,data_medicao,coleta,ponto,data_inicio,data_fim,ph,temperatura_do_ar,temperatura_da_agua,salinidade,...,coliformes_totais,escherichia_coli,nitrogenio_amoniacal,fosforo_total_mg_l,fosforo_total_mg_kg,fosfato_total,nitrato,silica,sulfeto,materia_organica
166,1.0,2022-06-15 10:20:00,Regular,LRF3 - Meio Afótico,2022-06-15 10:15:00,2022-06-15 10:20:00,7.65,NaN,21,12.52,...,NaN,NaN,0.36,0.075,NaN,0.044,0.083,2.1,<0.1,NaN
167,1.0,2023-07-10 12:48:00,Regular,LRF2 - Meio Afótico,2023-07-10 12:45:00,2023-07-10 12:48:00,7.41,NaN,21,10.7,...,NaN,NaN,0.38,<0.016,NaN,<0.016,0.44,4.7,<0.1,NaN
168,1.0,2023-07-10 12:51:00,Regular,LRF2 - Fundo,2023-07-10 12:48:00,2023-07-10 12:51:00,7.36,NaN,21,10.7,...,NaN,NaN,0.55,<0.016,NaN,<0.016,0.39,5,<0.1,NaN
169,1.0,2024-07-10 12:48:00,Regular,LRF2 - Meio Afótico,2024-07-10 12:45:00,2024-07-10 12:48:00,7.41,NaN,21,10.7,...,NaN,NaN,0.38,<0.016,NaN,<0.016,0.44,4.7,<0.1,NaN
170,1.0,2024-07-10 12:51:00,Regular,LRF2 - Fundo,2024-07-10 12:48:00,2024-07-10 12:51:00,7.36,NaN,21,10.7,...,NaN,NaN,0.55,<0.016,NaN,<0.016,0.39,5,<0.1,NaN

In [16]:
saneamento_rio_aguas_regular.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5396 entries, 166 to 6732
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id_estacao              5396 non-null   float64
 1   data_medicao            5298 non-null   object
 2   coleta                  5396 non-null   object
 3   ponto                   5396 non-null   object
 4   data_inicio             5396 non-null   object
 5   data_fim                5298 non-null   object
 6   ph                      5396 non-null   float64
 7   temperatura_do_ar       1621 non-null   float64
 8   temperatura_da_agua     5396 non-null   object
 9   salinidade              5396 non-null   object
 10  oxigenio_dissolvido     5396 non-null   object
 11  turbidez                5396 non-null   object
 12  disco_de_secchi         1621 non-null   float64
 13  profundidade_total      1621 non-null   float64
 14  profundidade_de_coleta  5396 non-null   float64
 15  coliformes_totais       1621 non-null   object
 16  escherichia_coli        1621 non-null   object
 17  nitrogenio_amoniacal    5376 non-null   object
 18  fosforo_total_mg_l      5276 non-null   object
 19  fosforo_total_mg_kg     0 non-null      float64
 20  fosfato_total           5276 non-null   object
 21  nitrato                 5336 non-null   object
 22  silica                  5396 non-null   object
 23  sulfeto                 5394 non-null   object
 24  materia_organica        0 non-null      float64
dtypes: float64(8), object(17)
memory usage: 1.1+ MB

In [17]:
import numpy as np

def q_ph(ph):
    return 100 - 40 * abs(ph - 7)

def q_od(od):
    a = 93.70
    b = -0.0091
    return a * np.exp(b * od)

def q_coliformes(coliformes):
    return max(100 - 5 * np.log10(coliformes + 1), 0)

def q_nitrogenio_total(nitrogenio_total):
    return max(100 * np.exp(-0.1 * nitrogenio_total), 0)

def q_fosforo_total(fosforo_total):
    return max(100 * np.exp(-0.5 * fosforo_total), 0)

def q_turbidez(turbidez):
    return max(100 - turbidez, 0)

def q_temperatura(temperatura):
    a_temp = 106.43
    b_temp = 10
    c_temp = 5.85
    return a_temp * np.exp(-((temperatura - b_temp)**2) / (2 * c_temp**2))

# Função para calcular o IQA
def calcular_iqa(linha):
    pesos = {
        "od": 0.17,
        "coliformes": 0.15,
        "ph": 0.12,
        "temperatura": 0.10,
        "nitrogenio_total": 0.10,
        "fosforo_total": 0.10,
        "turbidez": 0.08,
    }
    
    q_ph_val = q_ph(linha['ph'])
    q_temp_val = q_temperatura(float(linha['temperatura_da_agua']))
    q_od_val = q_od(float(linha['oxigenio_dissolvido']))
    q_coliformes_val = q_coliformes(float(linha['coliformes_totais']))
    q_nitrogenio_total_val = q_nitrogenio_total(float(linha['nitrogenio_amoniacal']))
    q_fosforo_total_val = q_fosforo_total(float(linha['fosforo_total_mg_l']))
    q_turbidez_val = q_turbidez(float(linha['turbidez']))
    
    iqa = (q_ph_val ** pesos["ph"]) * \
          (q_od_val ** pesos["od"]) * \
          (q_coliformes_val ** pesos["coliformes"]) * \
          (q_temp_val ** pesos["temperatura"]) * \
          (q_nitrogenio_total_val ** pesos["nitrogenio_total"]) * \
          (q_fosforo_total_val ** pesos["fosforo_total"]) * \
          (q_turbidez_val ** pesos["turbidez"])
    
    return iqa ** (1 / sum(pesos.values()))

In [18]:
colunas_iqa = [
    "data_medicao",
    "ph",
    "temperatura_da_agua",
    "oxigenio_dissolvido",
    "coliformes_totais",
    "nitrogenio_amoniacal",
    "fosforo_total_mg_l",
    "turbidez"
]

saneamento_iqa = saneamento_rio_aguas_regular[colunas_iqa].copy()

In [19]:
saneamento_iqa

,data_medicao,ph,temperatura_da_agua,oxigenio_dissolvido,coliformes_totais,nitrogenio_amoniacal,fosforo_total_mg_l,turbidez
166,2022-06-15 10:20:00,7.65,21,5.51,NaN,0.36,0.075,2.16
167,2023-07-10 12:48:00,7.41,21,6.31,NaN,0.38,<0.016,<1.5
168,2023-07-10 12:51:00,7.36,21,6.22,NaN,0.55,<0.016,<1.5
169,2024-07-10 12:48:00,7.41,21,6.31,NaN,0.38,<0.016,<1.5
170,2024-07-10 12:51:00,7.36,21,6.22,NaN,0.55,<0.016,<1.5
...,...,...,...,...,...,...,...,...
6728,2022-11-30 14:17:00,8.34,28.46,5.85,NaN,0.07,0.058,2.37
6729,2023-01-16 13:39:00,7.25,28.8.,0.8,NaN,0.51,0.05,2.91
6730,2024-01-16 13:39:00,7.25,28.8.,0.8,NaN,0.51,0.05,2.91
6731,2024-01-25 14:35:00,8.16,29.61,5.66,NaN,0.07,0.05,2.17
6732,2023-01-25 14:35:00,8.16,29.61,5.66,NaN,0.07,0.05,2.17

In [20]:
saneamento_iqa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5396 entries, 166 to 6732
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   data_medicao          5298 non-null   object
 1   ph                    5396 non-null   float64
 2   temperatura_da_agua   5396 non-null   object
 3   oxigenio_dissolvido   5396 non-null   object
 4   coliformes_totais     1621 non-null   object
 5   nitrogenio_amoniacal  5376 non-null   object
 6   fosforo_total_mg_l    5276 non-null   object
 7   turbidez              5396 non-null   object
dtypes: float64(1), object(7)
memory usage: 379.4+ KB

In [21]:
saneamento_iqa['data_medicao'] = pd.to_datetime(saneamento_iqa['data_medicao'], errors='coerce')

saneamento_iqa = saneamento_iqa.dropna(subset=['data_medicao'])

saneamento_iqa.set_index('data_medicao', inplace=True)

saneamento_iqa.sort_index(inplace=True)

colunas_numericas = ['temperatura_da_agua', 'oxigenio_dissolvido', 'coliformes_totais',
                     'nitrogenio_amoniacal', 'fosforo_total_mg_l', 'turbidez']

for coluna in colunas_numericas:
    saneamento_iqa[coluna] = pd.to_numeric(saneamento_iqa[coluna], errors='coerce')

saneamento_iqa = saneamento_iqa.interpolate(method='time')

saneamento_iqa.fillna(saneamento_iqa.mean(), inplace=True)

/tmp/ipykernel_4691/984970703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  saneamento_iqa.sort_index(inplace=True)
/tmp/ipykernel_4691/984970703.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  saneamento_iqa[coluna] = pd.to_numeric(saneamento_iqa[coluna], errors='coerce')

In [22]:
saneamento_iqa.head()

,ph,temperatura_da_agua,oxigenio_dissolvido,coliformes_totais,nitrogenio_amoniacal,fosforo_total_mg_l,turbidez
data_medicao,,,,,,,
2022-01-03 09:53:00,6.85,28.4,8.65,2202.760835,0.43,0.042,2.75
2022-01-03 09:56:00,7.72,28.4,8.70,2202.760835,0.44,0.047,2.81
2022-01-03 09:59:00,7.23,28.4,9.04,2202.760835,0.37,0.052,2.58
2022-01-03 10:02:00,7.31,28.3,8.80,2202.760835,0.35,0.072,3.49
2022-01-03 10:27:00,7.52,28.8,8.53,155.000000,0.33,0.047,2.60

In [23]:
saneamento_iqa['IQA'] = saneamento_iqa.apply(calcular_iqa, axis=1)

/tmp/ipykernel_4691/2954810775.py:49: RuntimeWarning: invalid value encountered in scalar power
  iqa = (q_ph_val ** pesos["ph"]) * \

In [27]:
import plotly.express as px

saneamento_iqa_diario = saneamento_iqa.resample('D').mean()

saneamento_iqa_diario.dropna(inplace=True)

fig = px.line(saneamento_iqa_diario, x=saneamento_iqa_diario.index, y='IQA', title='IQA Médio ao longo do Tempo',
              labels={'x': 'Data de Medição', 'IQA': 'Índice de Qualidade da Água (IQA)'},
              markers=False)

fig.show()